@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100px;
  z-index: 99999;
  position: sticky;
  top: 0;
  background: #fff;
}

.nav-links a {
  color: #9698a6;
  margin: 0 15px;
  text-decoration: none;
}

.nav-btn {
  padding: 15px 35px;
  border: none;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
}

.header {
  display: flex;
  align-items: center;
  height: 80vh;
  background: rgb(235, 235, 235);
  justify-content: center;
  gap: 20px;
}

.header-content {
  margin-left: 10%;
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
}

.header-title {
  font-size: 3.5rem;
  font-weight: 300;
  color: #2d314d;
}

.header-desc {
  font-size: 1.2rem;
  width: 80%;
  line-height: 30px;
  color: #9698a6;
}

.header-btn {
  padding: 15px 35px;
  border: none;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  background: linear-gradient(to right, #31d35c, #2bb7da);
  width: 50%;
}

.header-img {
  margin-left: 0%;
}

.header-img-cntr {
  width: 50%;
  overflow-x: hidden;
}

.section-one {
  height: 100vh;
  background: #f1f1f1;
  padding: 50px 0;
}

.section-one-title,
.section-one-desc {
  margin-left: 80px;
}

.section-one-title {
  padding-top: 80px;
  color: #2d314d;
  font-weight: 400;
}

.section-one-desc {
  margin-top: 20px;
  width: 45%;
  line-height: 25px;
  color: #a1a1a1;
}

.section-one-container {
  margin-top: 80px;
  display: flex;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.section-one-card {
  padding: 10px 25px;
}

.section-one-card-title {
  font-size: 20px;
  color: #2d314d;
  margin: 20px 0;
}

.section-one-card-desc {
  line-height: 25px;
  color: #a1a1a1;
}

.section-one-img {
  height: 60px;
}

.section-two {
  height: 100vh;
  padding: 50px 0;
}

.section-two-title {
  padding-top: 80px;
  margin-left: 50px;
  color: #2d314d;
  font-weight: 400;
}

.section-two-container {
  margin-top: 40px;
  display: flex;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  gap: 20px;
}

.section-two-card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #f0f0f0;
  cursor: pointer;
}
.section-two-card:hover {
  -webkit-box-shadow: 0px 0px 12px -2px #a8a8a8;
  box-shadow: 0px 0px 12px -2px #a8a8a8;
}

.section-two-img {
  width: 100%;
  height: 30vh;
}

.section-two-card-container {
  padding: 20px;
}

.section-two-card-subTitle {
  font-size: 14px;
  color: #a1a1a1;
}

.section-two-card-title {
  font-size: 20px;
  margin: 10px 0;
  color: #2d314d;
}

.section-two-card-desc {
  color: #a1a1a1;
  line-height: 25px;
}

.footer {
  display: flex;
  justify-content: space-around;
  height: 30vh;
  align-items: center;
  background: #131627;
  color: #fff;
}

.footer-icons {
  margin-top: 15px;
}
.footer-icon {
  margin-right: 15px;
}

.footer-links {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  gap: 50px;
}

.footer-links li {
  cursor: pointer;
  margin-top: 10px;
}

.footer-btn {
  margin-bottom: 10px;
  padding: 15px 35px;
  border: none;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  background: linear-gradient(to right, #31d35c, #2bb7da);
}
